# Sensitive files
.env.local
.env*.local

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Next.js
.next/
out/
build/
dist/

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# Debug
.vscode/
.idea/

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# Drizzle
.drizzle/
